.inventorySlot {
    background-color: rgba(0, 0, 0, 0.41);
    width: 85px;
    height: 85px;
}

.inventorySlot.active {
    background-color: rgba(0, 255, 0, 0.41);
    width: 85px;
    height: 85px;
}

.inventorySlot.containsItem {
    background-color: rgba(0, 0, 0, 0.76);
    width: 85px;
    height: 85px;
}
